<div class="input-container">
  {{input placeholder="Search..." value=search autofocus="true"}}
</div>
<ul class="side-nav">
  {{#each routes as |route|}}
    {{app-sidebar-item route=route selectedRoute=selectedRoute}}
  {{else}}
    <div class="empty">
      <i class="mdi">info</i><br/>
      {{#if search}}
        There is no scripts matches "{{search}}".
      {{else}}
        Opps, looks like we still don't have any scripts yet.
      {{/if}}
    </div>
  {{/each}}
</ul>
