<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area inline-list">
    <li class="{{if sidebar 'active name' 'name'}} " data-tooltip aria-haspopup="true" title="Toggle Sidebar">
      <h1><a href="#" {{action 'toggleSidebar'}}>
        <i class="mdi">menu</i>
      </a></h1>
    </li>
    <li class="name">
      <h1>
        {{#link-to 'application'}}
          <i class="mdi">code</i>
          {{#if showFullLogo}}
            DevTools
          {{else}}
            {{titlize currentPath}}
          {{/if}}
        {{/link-to}}
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left">
      {{#each authors as |author|}}
        {{github-image user=author tagName="li"}}
      {{/each}}
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="chrome-download">
        <a href="https://chrome.google.com/webstore/detail/<devtools>/cdbkgimlplnofejbnolajdkpppadpklb">
          <img src="images/available_on_chrome_store_noframe.png" alt="Available on chrome store" />
        </a>
      </li>
      <li class="active"><a href="#" onclick="TogetherJS(this); return false;"><i class="mdi">share</i> Share Screen</a></li>
    </ul>

  </section>

</nav>
