{{app-navbar sidebar=sidebar}}
<div class="container {{if sidebar '' 'hidden-sidebar'}}">
  <aside>
    {{app-sidebar}}
  </aside>
  <section class="body">
    <div class="container">
      {{liquid-outlet class="toleft"}}
    </div>
  </section>
</div>
{{ember-notify}}
