<div class="hex-editor">

<h3>
  Hex Editor
  <small>By
    {{github-image user='blazeeboy' name='Emad Elsaid'}}
  </small>
</h3>

<div class="row full-width">
  <div class="small-12 columns">
    <ul class="inline-list toolbar">
      <li>
        {{#devtools-file-button value=file format='binary'}}
          <i class="mdi">insert_drive_file</i> Open a File
        {{/devtools-file-button}}
      </li>
      <li>
        {{#if file}}
          <a href="#" {{action 'download'}}>
            <i class="mdi">save</i> Download
          </a>
        {{/if}}
      </li>
    </ul>
  </div>
</div>

{{#if file}}
  <div class="row full-width">

    <div class="small-6 columns">
      <label>Base:</label>
      {{input value=base type='number' max='36' min='2'}}
      <label>Page:</label>
      {{input value=page type='number' min='1' max=totalPages}}
    </div>
    <div class="small-6 columns">
      <label>File size:</label>
      {{input value=fileSize type='number' disabled='disabled'}}
      <label>Total Pages:</label>
      {{input value=totalPages type='number' disabled='disabled'}}
    </div>

  </div>

  {{#if changed}}
    <div class="alert-box secondary">
      <div class="row">
        <div class="columns small-7">
          Page has changed, do you want to save changes to current page?
        </div>
        <div class="columns small-5">
          <a href="#" {{action 'save'}} class="button tiny">Save</a>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="row full-width">
    <div class="small-9 columns">
      {{textarea value=currentPage rows=lines class="code editor" key-up="pageChanged"}}
    </div>

    <div class="small-3 columns">
      {{textarea value=currentAsciiPage rows=lines class="code" disabled=true}}
    </div>

  </div>
{{/if}}
</div>
