<h3>
  MD5 Encoder
  <small>By
    {{github-image user='blueimp' name='Blueimp'}}
  </small>
</h3>

<label>Input string (input)</label>
{{devtools-textarea value=inputText placeholder="Input text" rows=10}}

<label>HMAC-MD5 key (optional) (input)</label>
{{input value=HMACKey}}

<label>MD5 Hash (output)</label>
{{input value=outputText}}

<label>HMAC-MD5 Hash (output)</label>
{{input value=outputHMACText}}
