<h3>
  Number Systems Calculator
  <small>By <a href="https://github.com/blazeeboy" target="_blank">Emad Elsaid</a></small>
</h3>

<label>Binary</label>
{{input value=binary}}

<label>Octal</label>
{{input value=octal}}

<label>Decimal</label>
{{input value=decimal}}

<label>HexaDecimal</label>
{{input value=hexadecimal}}

<label>Base64 String</label>
{{input value=base64}}
