<label>Binary</label>
{{input value=binary}}

<label>Octal</label>
{{input value=octal}}

<label>Decimal</label>
{{input value=decimal}}

<label>HexaDecimal</label>
{{input value=hexadecimal}}

<label>Base64 String</label>
{{input value=base64}}
